/************************background, text, blocks arrangment****************/
 body { 
    background-color: honeydew; 
	color: black;
} 

* {
	font-family: Arial;
}

header {
	margin: 50px 0 60px 0;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	text-shadow: 4px 4px 3px white;
}

#panels {
	float: left;
	width: 26%;
	margin: 0 2% 0 2%;
}

#panels * {
	margin-bottom: 10px;
}

input[type=button] {
	float: right;
	margin-left: 20px;
	height: 30px;
	width: 80px;
	border-radius: 5px;
	font-weight:700;
	font-size: 15px;
	background: palegreen;
}

#cal {
	float: left;
	width: 870px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.7);
	margin: 0 1% 0 1%;
	display:table; 
	-webkit-border-radius: 10px;
}

#cal #cal-frame {
	width: 840px;
	margin: 15px;
}

#sideinfo {
	float: left;
	width:21%;
	height: 716px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.7);
	background-color: honeydew;
}

#notation {
	padding: 15px 10px 10px 20px;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 1px 1px 2px white;
	color: midnightblue;
}

.dot {
	height: 25px;
	width: 25px;
	float: left;
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 25px;
	box-shadow: 1px 2px 1px rgba(0,0,0,.5);
}

#dot1 {
	background-color: palegreen;
}

#dot2 {
	background-color: gainsboro;
}

.tooltip {
	font-size: 20px;
	color: green;
	font-weight: bold;
}

.tooltip .tooltiptext {
  font-size: 15px;
  visibility: hidden;
  width: 200px;
  background-color: peru;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/************************panels*******************************/
#panels h2 {
	color: 
}

#signup_form {
	box-shadow: 1px 2px 3px rgba(0,0,0,.7);
	margin-bottom: 30px;
	padding: 10px 10px 10px 20px;
	background-color: honeydew; 
	height: 460px;
}

#remove_form {
	box-shadow: 1px 2px 3px rgba(0,0,0,.7);
	margin-bottom: 30px;
	padding: 10px 10px 10px 20px;
	background-color: honeydew; 
	height: 185px;
}
/*************************Calendar***************************/
#cal .header { 
    background: rgba(50,50,100,.5);
    height: 40px;
    color:#fff; 
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
    font-weight:bold;
    text-transform: uppercase; 
	font-size: 20px;
} 

#cal .header span { 
    display:inline-block; 
    line-height:40px; 
}

#cal .header #label { 
	text-align: center;
	width: 190px;
}
 
#cal .header .left.button { 
	padding-right: 20px;
	width: 314px;
	text-align: right;
	cursor: default;
} 

#cal .header .right.button { 
	padding-left: 20px;
	width: 314px;
	cursor: default;
} 

#cal .header .left.button:hover { 
	border-top-left-radius:10px; 
    background: dimgray;
}

#cal .header .left.button:hover:after { 
	content: "\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0\2329\00a0";
}

#cal .header .right.button:hover { 
	border-top-right-radius:10px; 
    background: dimgray;
}

#cal .header .right.button:hover:after { 
	content: "\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0\232A\00a0";
}

#cal .header .month-year { 
    letter-spacing: 1px;
}

#cal table { 
    border-collapse:collapse; 
}

#cal .curr td { 
    width:120px; 
    height:100px;
    border:1px solid #e6e6e6; 
    cursor:default;
}

#cal #days {
	margin-left: 5px;
	margin-top: 5px;
	font-weight:bold;
	color: dimgray;
}
	
#cal #days td { 
    height:23px; 
    line-height:23px; 
    text-transform:uppercase;
	width: 120px;
	text-align: center;
}

#cal #cal-frame td:not(.nil):hover { 
    text-shadow: #6C1A07 0px -1px; 
    background:wheat; 
}